.title {
    padding-left: 120px;
    font-size: xx-large;
    color: #00b8d4;
    font-family: cursive;
    font-weight: bold;

    line-height: 0;
    display: inline-block;
    vertical-align: middle;

    text-decoration: none;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  line-height: 4rem;
}

.content {
  
  max-width: 60%;
  margin: auto;
  background: white;
  padding-top: 5rem;
}

.heading {
  text-align: center;
  color: #048a9e;
  margin-bottom: 0rem;
  margin-top: 0rem;
}

.topics {
  color: #048a9e;
  margin-top: 3rem;
  margin-bottom: 0rem;
}